doctype html
html
	head
		block title
			title Quarantine@Home !!!


		//link(rel='shortcut icon', href='/static/favicon.ico')


		//link(rel='stylesheet',href='https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css',type='text/css')
		link(rel='stylesheet',href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css',type='text/css')

		block css

		- assets 'css'
			link(rel='stylesheet',href='{{ ASSET_URL }}',type='text/css')
		- endassets

		block meta

			meta(name='description', content='Quarantine@Home lets you donate your computer power to fight the coronavirus!')
			meta(name="viewport",content="width=device-width, initial-scale=1.0")
			//meta(property="fb:app_id", content="{{FACEBOOK_KEY}}")

		// FIXME
		block openGraph
			meta(property='og:title', content='Quarantine@Home')
			meta(name='description', content='Quarantine@Home lets you donate your computer power to fight the coronavirus!')
			meta(property='og:url', content='https://quarantine.infino.me')
			meta(name="viewport",content="width=device-width, initial-scale=1.0")

			meta(property='og:image', content='https://quarantine.infino.me/static/img/spikeace2.jpeg')
			meta(property='og:image:width', content='1600')
			meta(property='og:image:height', content='1200')


			meta(name='twitter:card', content='photo')
			meta(name='twitter:title', content='Quarantine@Home')
			meta(name='twitter:site', content='@InfinoMe')
			meta(name='twitter:url', content='https://quarantine.infino.me')
			meta(name='twitter:image', content='https://quarantine.infino.me/static/img/spikeace2.jpeg')


		-if not DEBUG

			block sentry
				script(src="https://cdn.ravenjs.com/3.23.1/raven.min.js")

			block GA
				// google analytics
				// FIXME - need to make a new tag?
				script.
					(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
					})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

					ga('create', 'UA-48426511-1', 'infino.me');
					ga('send', 'pageview');

	body

		#wrapper

			.top_wrapper
				block header

			-if not DEBUG
				block addthis
					//addthis
					.addthis_toolbox.addthis_floating_style.addthis_32x32_style(style='left:0px;top:200px;')
						a.addthis_button_facebook
						a.addthis_button_twitter
						a.addthis_button_google_plusone_share
						a.addthis_button_linkedin
						a.addthis_button_compact
					//script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52c2448226b1832a')


			block content




			block footer
				br
				br
				br

				footer(style='box-shadow: 0px 0px 10px rgb(102, 102, 102);')

					.container
						.row
							.col-sm-3.col-md-3
								p Quarantine@Home is a project of the Aleph-1 Foundation
							.col-sm-3.col-md-3
								img(src='https://www.infino.me/static/img/aleph1.png', height='100px', width='100px')
							div(style='font-size:13px;').col-sm-3.col-md-3
								//p We're sick of being sick
							.col-sm-3.col-md-3
								right
									//a(href='https://www.infino.me/about') About Us
									//|
									//a(href='/privacy') Privacy

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
		//script(src='https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')

		block moreJS

		- assets 'js'
			script(src='{{ ASSET_URL }}')
		- endassets


