extends base.html.jade

block title
	title Quarantine@Home



block content

	style.
		.markdown img {
			width: 50%;
		}
		.markdown {
			border: 1px solid black;
		}


	br
	br
	br


	.body-wrapper
		.container
			br


			- if mymd
				.markdown.well
					{{ mymd }}

				a(href='https://github.com/cjmielke/quarantine-files/tree/master/receptors/{{receptorName}}', target='GITHUB') See this system on Github

			br
			br
			br
			.row


				// FIXME - could later render the MarkDown document itself instead of hosting from github
				//iframe(src='https://cjmielke.github.io/quarantine-files/receptors/{{receptorName}}', width='100%', height='500px')


				h4 Best ligands
				br
				br



				table.table
					thead
						tr
							th(scope='col') JobID
							th(scope='col') Username
							th(scope='col') Ligand
							th(scope='col') Receptor
							th(scope='col') Binding Energy
					tbody
						- for r in results
							tr
								- for c in r
									td {{c}}

			.row
				.col-sm-6.col-md-6.col.lg-6

				//
					.col-sm-6.col-md-6.col.lg-6
						.title-block.clearfix
							h2 Quarantine@Home
							img(src='',style='height:170px;float:right')





		.space-sep
		.space-sep

