extends base.html.jade

block title
	title Quarantine@Home



block content

	style.
		.markdown img {
			width: 50%;
		}
		.markdown {
			border: 1px solid black;
		}
		object {
			width: 100px;
			height: 50px;
		}
		table img {
			width: 100px;
			height: 50px;
		}


	br
	br
	br


	.body-wrapper
		.container
			br


			- if mymd
				.markdown.well
					center
						{{ mymd }}

				a(href='https://github.com/cjmielke/quarantine-files/tree/master/receptors/{{receptorName}}', target='GITHUB') See this system on Github

			br

		hr

		.container
			.row
				.col-md-12

					h4 Results
					h5 Total jobs calculated : {{jobCount}}

					ul.nav.nav-tabs#myTab(role='tablist')
						li.nav-item
							a.nav-link.active#fda-tab(href="#fdacontent", data-toggle='tab', role="tab", aria-controls="fdacontent", aria-selected="true") FDA Cleared Ligands
						li.nav-item
							a.nav-link#all-tab(href="#all-content", data-toggle='tab', role="tab", aria-controls="all-content", aria-selected="false") All Ligands
					.tab-content#myTabContent
						.tab-pane.fade.show.active#fdacontent(role='tabpanel', aria-labelledby="fda-tab")
							table.table
								thead
									tr
										- for col in FDA.columns
											th(scope='col') {{col}}
								tbody
									- for r in FDA.results
										tr
											- for c in r
												td {{c}}

						.tab-pane.fade#all-content(role='tabpanel', aria-labelledby="all-tab")
							table.table
								thead
									tr
										- for col in ALL.columns
											th(scope='col') {{col}}
								tbody
									- for r in ALL.results
										tr
											- for c in r
												td {{c}}








		.space-sep
		.space-sep

