extends base.html.jade

block title
	title Quarantine@Home



block content

	style.
		.markdown img {
			width: 50%;
		}


	br
	br
	br


	.body-wrapper
		.container
			br

			.markdown
				- if mymd
					{{ mymd }}




		.space-sep
		.space-sep

